

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="{{ 'FILM.TITLE' | translate }}" aria-label="Recipient's username" aria-describedby="basic-addon2" #filmTitle>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="add(filmTitle.value); filmTitle.value=''">{{ 'FILM.ADD_FILM' | translate }}</button>
  </div>
</div>


<div class="container-fluid">
<ul class="list-group" (change)="getFilms();">
  <li *ngFor="let film of films | paginate: { itemsPerPage: 10, currentPage: p }" class="list-group-item list-group-item-light" >
    <label routerLink="/detail/{{film.id}}" title="{{ 'FILM.DETAIL' | translate }}">
    {{film.title}}
    </label>
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="delete(film)" title="{{ 'FILM.DELETE' | translate }}" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  		<span aria-hidden="true">&times;</span>
  	</button>
    <br>
	<ngb-rating [(rate)]="film.rate"  [readonly]="true"></ngb-rating>
  </li>
</ul>
<pagination-controls style="position: 'centrate';"(pageChange)="p = $event"></pagination-controls>
</div>

<!-- <app-film-detail [film]="selectedFilm"></app-film-detail> -->
